<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="ATSImageUploadDirectory" value="C:\UploadFolder"/>
  </appSettings>

  <system.web>
    <compilation/>
  </system.web>

  <system.serviceModel>
    <services>
      <service name="ImageUploadService.ImageProcessing" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" contract="ImageUploadService.IImageProcessing" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_ImageServiceConfig">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.10.221/ImageUploadService/ImageUploadService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_ImageServiceConfig" closeTimeout="00:01:00"
							openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:2:00"
							bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
							maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
							messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
							allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
						maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpsGetEnabled="false" httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="2000" maxConcurrentInstances="2000" maxConcurrentSessions="2000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>